@import '../../styles/global.scss';

#Home{
  .wrapper{
    width: 45%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    h1{
      font-size: 50px;
      color: #FFF;  
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    .box-input{
      display: flex;
    }
  }
}