@import '../../styles/global.scss';

#Search{
  .wrapper{
    width: 45%;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    h1{
      font-size: 50px;
      color: #FFF;  
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    .box-input{
      display: flex;
    }
    .spinner{
      width: 15px;
      height: 15px;
    }
  }
}